body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Poppins', sans-serif;
  color: #f0f8ff;
  background: rgb(25, 23, 64);
  background: linear-gradient(90deg, rgb(30, 28, 60) 0%, rgba(14, 11, 30, 1) 52%, rgba(11, 10, 37, 1) 100%);
  

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}