


input{
    outline: none;;
    border: none;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}

form{
    display: flex;
    flex-direction: column;
    background-color:rgba(68, 100, 132, 0.516);
    padding: 15px 20px;
    border-radius: 5px;
}
label{
    margin-left: 20px;
}

img{
    object-fit: cover;
    width: 100%;
}

hr{
    margin: 6px;
    height: 2rem;
}

form p{
    margin-top: -20px;
    color: red;
    margin-left:20px;
}
