
.txt-grandient{
    background: linear-gradient(to right, rgba(209,102,247,1) 0%, rgba(70,252,250,1) 100%);
    -webkit-text-fill-color: transparent; 
    -webkit-background-clip: text; 
    background-clip: text;
    border:"1px solid red"
}

.hr{
    width: 100%;
    color:rebeccapurple;
    height: 0px; 
    
}

.flexBox{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
img{
    object-fit: cover;
    width: 100%;
}
a{
    color:aliceblue;
    text-decoration: none;
}
    
form{
    background:rgba(240,248,255,0.1);
    display: flex;
    flex-direction: column;
}
